.form-box {
  width: 390px;
  height: 510px;
  background-color: rgba(243, 243, 243, 0.9);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.9;
  border-radius: 1.5%;
}
